<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #app {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center
        }

        #click-here {
            font-weight: normal;
            text-decoration: none;
            color: red;
            font-size: 2rem;
        }
    </style>
</head>
<body id="app">
    <h1 style="text-align: center">
        This is an API for my family usage
        <br>
        For Details Please
    </h1>
    <a href="https://github.com/drcan94/omurziyad" target="_blank" id="click-here">Click Here</a>
</body>
</html>